.swiper-container {
    list-style: none;
}

.pagination {
    bottom: 0;
    padding-bottom: 4px;
}

.slide {
    text-align: center;
    height: 320px;
    line-height: 320px;
    background: #364d79;
    overflow: hidden;
}

.teams_wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;

    .swiper {
        overflow-y: visible;

        .swiper-pagination {
            margin-bottom: -5rem;

            .swiper-pagination-bullet-active {
                background-color: var(--primary);
            }
        }
    }
}