.navbar {
    nav {
        background-color: var(--primary);
        height: 4rem;

        div {
            height: 100%;
            min-height: unset;
        }
    }
}



.MuiList-root {
    width: 15rem;

    li {
        font-size: 1.4rem;
        color: var(--primary);
        font-weight: 600;
    }
}